// Microsoft Visual C++ generated resource script.
//
#include <Windows.h>
#include "modlgRc.h"
/////////////////////////////////////////////////////////////////////////////

// Dialog
//

MOVE_OBJ_H3_DLG DIALOGEX 0, 0, 255, 196
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "位置・方向の変更 (上半空間座標)"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
DEFPUSHBUTTON   "OK", IDOK, 137, 175, 50, 14
PUSHBUTTON      "キャンセル", IDCANCEL, 198, 175, 50, 14
EDITTEXT        MODLG_LON_TXT, 187, 25, 41, 14, ES_AUTOHSCROLL
LTEXT           "座標 X", IDC_STATIC, 26, 28, 43, 8
CONTROL         "", MODLG_LON_SLIDER, "msctls_trackbar32", TBS_BOTH | TBS_NOTICKS | WS_TABSTOP, 57, 25, 100, 15
EDITTEXT        MODLG_LAT_TXT, 188, 44, 41, 14, ES_AUTOHSCROLL
LTEXT           "座標 Y", IDC_STATIC, 26, 47, 43, 8
CONTROL         "", MODLG_LAT_SLIDER, "msctls_trackbar32", TBS_BOTH | TBS_NOTICKS | WS_TABSTOP, 58, 44, 100, 15
EDITTEXT        MODLG_ALT_TXT, 188, 64, 41, 14, ES_AUTOHSCROLL
LTEXT           "座標 Z", IDC_STATIC, 26, 66, 43, 8
CONTROL         "", MODLG_ALT_SLIDER, "msctls_trackbar32", TBS_BOTH | TBS_NOTICKS | WS_TABSTOP, 58, 64, 100, 15
EDITTEXT        MODLG_AREA_X_TXT, 168, 102, 61, 14, ES_AUTOHSCROLL | ES_NUMBER
CONTROL			"" MODLG_AREA_X_SPIN, "msctls_updown32", 
					UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_NOTHOUSANDS, 26, 105, 43, 8
LTEXT           "エリア番号 X", IDC_STATIC, 26, 105, 43, 8
EDITTEXT        MODLG_AREA_Y_TXT, 168, 121, 61, 14, ES_AUTOHSCROLL | ES_NUMBER
CONTROL			"" MODLG_AREA_Y_SPIN, "msctls_updown32", 
					UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_NOTHOUSANDS | UDS_HORZ, 26, 123, 43, 8
LTEXT           "エリア番号 Y", IDC_STATIC, 26, 123, 43, 8
EDITTEXT        MODLG_AREA_Z_TXT, 168, 141, 61, 14, ES_AUTOHSCROLL | ES_NUMBER
CONTROL			"" MODLG_AREA_Z_SPIN, "msctls_updown32", 
					UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_NOTHOUSANDS | UDS_HORZ, 26, 142, 43, 8
LTEXT           "エリア番号 Z", IDC_STATIC, 26, 142, 43, 8
LTEXT           "プレイヤー座標", IDC_STATIC, 23, 12, 48, 8
LTEXT           "プレイヤーエリア番号", IDC_STATIC, 23, 89, 48, 8
END


