// Microsoft Visual C++ generated resource script.
//
#include <Windows.h>
#include "objSetting.h"
/////////////////////////////////////////////////////////////////////////////

// Dialog
//

MODOBJ_DLG DIALOGEX 0, 0, 255, 196
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Pythonスクリプト実行"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN

DEFPUSHBUTTON   "実行", IDOK, 137, 175, 50, 14
PUSHBUTTON      "閉じる", IDCANCEL, 198, 175, 50, 14

END


