#pragma once
#include "UI_DEF.h"



KITTY_H3 MENU
BEGIN
POPUP "プログラム"
BEGIN
POPUP "フレームレート"			//UI_FPS
BEGIN
MENUITEM "30(固定)"			UI_FPS_30
MENUITEM "60(固定)"			UI_FPS_60
END
POPUP "Sinulator/Language"		//UI_LANG
BEGIN
MENUITEM "超球面 (日本語)"		UI_LANG_JA
MENUITEM "双曲面 (日本語)"	    UI_H3_JA
MENUITEM "Spherical (English)"	UI_LANG_EN
MENUITEM "Hyperbolic (English)"	UI_H3_EN
MENUITEM "Spherical VR"	        UI_S3_VR
MENUITEM "Hyperbolic VR"	    UI_H3_VR
END
MENUITEM "スクリプト実行", UI_CALL_SCRIPT
MENUITEM SEPARATOR
MENUITEM "終了", UI_END
END

POPUP "オプション"
BEGIN
POPUP "背景色"
BEGIN
MENUITEM "白", UI_BG_WH
MENUITEM "黒", UI_BG_BK
END
POPUP "表示座標"
BEGIN
MENUITEM "極座標", UI_LOC_TUDE
MENUITEM "上半空間", UI_LOC_EUC
END
POPUP "空間スケール"
BEGIN
MENUITEM "20", UI_RDS_SS
MENUITEM "30", UI_RDS_S
MENUITEM "60", UI_RDS_M
MENUITEM "100", UI_RDS_L
END
POPUP "視界"
BEGIN
MENUITEM "狭め", UI_CR_S
MENUITEM "中間", UI_CR_M
MENUITEM "広め", UI_CR_L
END
POPUP "深度効果"
BEGIN
MENUITEM "なし", UI_SD_0
MENUITEM "ﾘﾆｱ減衰(遠いほど暗く)", UI_SD_1
MENUITEM "陰影(光源＝視点)", UI_SD_2
//MENUITEM "陰影2(光源＝視点)", UI_SD_4
END
//POPUP "レンダリング"
//BEGIN
//    MENUITEM "ポイント",              UI_MAP
//    MENUITEM "ライン",               40025
//    MENUITEM "サーフェス",             40026
//END
//MENUITEM "射撃objの自転", UI_SHOOT_ROT
END
POPUP "オブジェクト"
BEGIN
MENUITEM "プレイヤー位置変更"			UI_CALL_MODLG
POPUP "オブジェクト変更"
BEGIN
POPUP "ベースオブジェクト"
BEGIN
MENUITEM "なし", UI_WL_NONE
MENUITEM "直線6つ(点線)", UI_6_POINT
MENUITEM "直線6つ(線)", UI_6_LINE
MENUITEM "極座標(点)", UI_TUDE_POINT
MENUITEM "極座標(線)", UI_TUDE_LINE
MENUITEM "12面体ハニカム(点)"			 UI_Dodeca_POINT
MENUITEM "12面体ハニカム(線)"			 UI_Dodeca_LINE
MENUITEM "12面体ハニカム(面)"			 UI_Dodeca_SURFACE
//MENUITEM "120胞体(柱)"			 UI_120C_SURFACE
MENUITEM "トーラス(点)", UI_TORUS_POINT
MENUITEM "トーラス(線)", UI_TORUS_LINE
MENUITEM "トーラス(面)", UI_TORUS_SURFACE
MENUITEM "平面", UI_PLANE_SURFACE
MENUITEM "地球", UI_MK_EARTH
MENUITEM SEPARATOR
MENUITEM "立体フイールド", UI_MK_TC
END
POPUP "射撃オブジェクト"
BEGIN
MENUITEM "立方体", UI_THROW_CUBE
MENUITEM "地球", UI_THROW_SPHERE
MENUITEM "馬っぽいの", UI_THROW_HORSE
MENUITEM "岩石", UI_THROW_ROCK
MENUITEM "参照(.obj)", UI_THROW_REF
END
END
POPUP "射撃オブジェクト配置"
BEGIN
MENUITEM "ランダム配置(集中)", UI_THROW_RANDOM
MENUITEM "ランダム配置(一様)", UI_THROW_RANDOM2
MENUITEM "クリア", UI_THROW_CLEAR
END
//POPUP "物体の運動"
//BEGIN
//MENUITEM "等速直線", UI_MV_CONST
//MENUITEM "引力", UI_MV_ATTRACT
//MENUITEM "斥力", UI_MV_REPULSE
//END
END
POPUP "表示"
BEGIN
MENUITEM "座標", UI_XYZ
MENUITEM "操作オブジェクト", UI_PLR
MENUITEM "マップ", UI_MAP
//MENUITEM "移動/回転方向", UI_LR_RESULT
MENUITEM "距離", UI_DST
MENUITEM "軌跡", UI_PAST
END
POPUP "ヘルプ"
BEGIN
MENUITEM "操作方法", UI_HOWTO_DLG
MENUITEM "シミュレータについて", UI_INFO_DLG
END
END